h1{
    text-align : center;
    color : blue;

}

h2{
    text-align : center;
    text: black;
}

.heading {
    background-color: #00ffff;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0px;
    padding-right: 0px;
    margin = auto;
}

.container-fluid{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #faebd7;
    display: none;
    padding-left: 0px;
    padding-right: 0px;
}

#image{
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid red;
    text-align : center;
}

#pizza{
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid black;
    text-align : center;
}

#burger{
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid gray;
    text-align : center;
}

#french_fries{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 4px solid brown;
    text-align : center;
}

pizza_method, burger_method, french_fries_method {
    display: grid;
    grid-template-columns: 90rem auto;
    -moz-column-gap: .75rem;
    column-gap: 0.75rem;
    justify-content: flex-start;
    margin-bottom: 0.93rem;
    padding-left: 0;
    line-height: 30px;
}

body.pizza, body.french_fries, body.burger {
    background-color: #D3D3D3;
    margin = auto;
    border: 4px solid pink;
}

body.home
{


}


.topnav {

background-color: #faebd7;

}

.topnav #myLinks {
display: block;
}

.topnav a {
float: right;
color: blue;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a.icon {
float: right;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}
