h1{
    text-align : center;
    color : blue;
}

.heading {
    background-color: lightblue;
    padding-top: 20px;
    padding-bottom: 20px;
}

.container-fluid{
    padding-top: 10px;
    padding-bottom: 10px;
}